<footer class="contact-us">
  <div class="container">
    <div class="footer-content">
      <div class="row">
        <div class="contact-form">
          <form id="contact" action="" method="post" [formGroup]="signupForm" (ngSubmit)="signup()">
            <div class="center-heading">
              <p  class="section-title">Moduł rejestracji pracownika</p>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <fieldset>
                  <div class="user-name">
                    <input type="text" [formControlName]="'email'" id="email_address" placeholder="E-mail" required="" class="form-control" name="email-address">
                  </div>
                </fieldset>
              </div>
              <div class="col-md-12 col-lg-6">
                <fieldset>
                  <div class="user-name">
                    <input type="text" [formControlName]="'username'" class="form-control" placeholder="Nazwa użytkownika" id="username" required="">
                  </div>
                </fieldset>
              </div>
              <div class="col-md-6 col-lg-6">
                <fieldset>
                  <div class="user-name">
                    <input type="password" [formControlName]="'password'" id="password" class="form-control" name="password" placeholder="Hasło" required="">
                  </div>
                </fieldset>
              </div>
              <div class="col-md-12 col-lg-6">
                <fieldset>
                  <div class="user-name">
                    <input type="text" [formControlName]="'firstName'" id="firstName" class="form-control" name="firstName" placeholder="Imie" required="">
                  </div>
                </fieldset>
              </div>
              <div class="col-md-6 col-lg-12">
                <fieldset>
                  <div class="user-name">
                    <input type="text" [formControlName]="'lastName'" id="lastName" class="form-control" name="lastName" placeholder="Nazwisko" required="">
                  </div>
                </fieldset>
              </div>
              <div class="col-md-6 col-lg-12">
                <label for="depot_id" class="col-md-auto">Oddział</label>
                <div class="col-md-auto" id="depot_id">
                  <select [formControlName]="'depotCode'">
                    <option *ngFor="let option of depot" [value]="option.depotCode">
                      {{option.depotCode}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 col-lg-12"><h1></h1></div>
              <div class="col-md-6 col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-button">Załóż konto</button>
                </fieldset>
              </div>
              <div class="center-heading">
                <p class="signup-failed-text" *ngIf='this.isError'>Rejestracja nie powiodła się</p>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</footer>
