<section class="section" id="testimonials">
  <div class="container">
    <div class="row text-center justify-content-center mb-5">
      <div class="col-xl-auto col-lg-8">
        <h2 class="font-weight-bold">Przesyłka: {{id}}</h2>
        <p class="text-muted">Trasa Twojej przesyłki</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
          <div class="timeline-step mb-0" *ngFor="let route of routes">
            <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title=""
                 data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2003">
              <div class="inner-circle">{{route.user.depot.depotCode}}</div>
              <p class="h6 mt-3 mb-1">{{route.user.depot.city}}</p>
              <p class="h6 mt-3 mb-1">{{route.created}}</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
