.user-section{
  margin: 150px;
}
.container {
  padding: 1px 9px;
  text-align: center;
  width: 350px;
  height: auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

img {
  border-radius: 5px 5px 0 0;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.center-heading h2 em {
  font-style: normal;
  color: #f4813f;
}
em {
  font-style: normal;
  color: #f4813f;
}
.user{
  font-style: normal;
  color: #3f7bf4;
}

