
<div class="routes-section">
    <h1>Użytkownik {{username}}</h1>


  <select name="selectUsername" id="selectUsername" (change)="setUsername($event.target.value)">
    <option>
      Wybierz
    </option>
    <option *ngFor="let user of users" [value]="user.username">
      {{user.username}}
    </option>
  </select>

  <div class="table-responsive">

    <table class="table table-striped table-hover table-bordered table-sm ">
      <thead>
      <tr>
        <th scope="col">Kod paczki</th>
        <th scope="col">Data wejścia</th>
        <th scope="col">Miasto</th>
        <th scope="col">Oddział</th>
        <th scope="col">Niestandardowa</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let route of routes">
        <td>{{ route.parcel.id }}</td>
        <td>{{ route.created  }}</td>
        <td>{{ route.user.depot.city}}</td>
        <td>{{ route.user.depot.depotCode}}</td>
        <td>{{route.parcel.custom}}</td>


      </tr>
      </tbody>

    </table>
  </div>
</div>
