<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a  routerLink="/home" class="logo">
            <img src="assets/img/package.png" alt="Softy Pinko" class="reddit-icon-svg"/>
            <span class="warehouse-text">
                    26andfour
                </span>

          </a>
          <ul *ngIf="isLoggedIn" class="nav">
            <li></li>
            <li><a *ngIf="isLoggedIn" routerLink="/route/add">Przyjęcie od kuriera</a></li>
            <li><a routerLink="/routes/all">Przesyłki</a></li>
            <li><a routerLink="/user/profile">{{username}}</a></li>
            <li><a routerLink="/home" (click)="logout()">Wyloguj</a></li>
          </ul>
          <ul *ngIf="!isLoggedIn" class="nav">
            <li><a routerLink="/depots/all">Nasze oddziały</a></li>
            <li><a routerLink="/parcel/add">Nadaj przesyłkę</a></li>
            <li><a routerLink="/route/find">Znajdź przesyłkę</a></li>
            <li><a routerLink="/login">Logowanie</a></li>
            <li><a routerLink="/sign-up">Rejestracja</a></li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
