<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a  routerLink="/home" class="logo">
            26andfour
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section" *ngIf="!isLoggedIn"><a routerLink="/parcel/add" class="menu-item">Nadaję</a></li>
            <li class="scroll-to-section" *ngIf="!isLoggedIn"><a routerLink="/route/find"  class="menu-item">Znajdź przesyłkę</a></li>
            <li class="scroll-to-section" *ngIf="!isLoggedIn"><a routerLink="/depots/all" class="menu-item">Nasze oddziały</a>
            <li class="scroll-to-section" *ngIf="isLoggedIn"><a routerLink="/user/profile">{{username}}</a></li>
            <li class="submenu" *ngIf="!isLoggedIn">
              <a href="javascript:">Konto</a>
              <ul class = "active">
                <li *ngIf="!isLoggedIn" class="menu-item" ><a routerLink="/sign-up" class="menu-item">Rejestracja</a></li>
                <li *ngIf="!isLoggedIn" class="menu-item"><a routerLink="/login" class="menu-item">Logowanie</a></li>
              </ul>

            </li>
            <li class="submenu" *ngIf="isLoggedIn">
              <a href="javascript:">Magazyn</a>
              <ul>
                <li><a routerLink="/route/add" class="menu-item">Przyjęcie od kuriera</a></li>
              </ul>

            </li>
            <li class="scroll-to-section" *ngIf="isLoggedIn"><a routerLink="/home" (click)="logout()">Wyloguj</a></li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
        </nav>
      </div>
    </div>
  </div>


</header>
