
<div class="routes-section">
    <div class="hello">
         <h1>Przyjęte przesyłki użytkownika {{username}}</h1>
    </div>

<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered table-sm ">
    <thead>
    <tr>
      <th scope="col">Kod paczki</th>
      <th scope="col">Data wejścia</th>
      <th scope="col">Miasto</th>
      <th scope="col">Oddział</th>
      <th scope="col">Niestandardowa</th>
      <th scope="col">Usuń</th>




    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let route of routes">
      <td>{{ route.parcel.id }}</td>
      <td>{{ route.created  }}</td>
      <td>{{ route.user.depot.city}}</td>
      <td>{{ route.user.depot.depotCode}}</td>
      <td>{{route.parcel.custom}}</td>
      <td><button (click)="deleteRouteByParcelId(route.parcel.id)" >X</button></td>


    </tr>
    </tbody>

  </table>
</div>
</div>
