<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Kod paczki</th>
        <th scope="col">Data wejścia</th>
        <th scope="col">Użytkownik</th>
        <th scope="col">Miasto</th>
        <th scope="col">Oddział</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let route of routes">
        <td>{{ route.parcel.id }}</td>
        <td>{{ route.created}}</td>
        <td>{{ route.user.firstName}}</td>
        <td>{{ route.user.depot.city}}</td>
        <td>{{ route.user.depot.depotCode}}</td>

      </tr>
      </tbody>
    </table>

  </div>
</div>
