<div class="card my-5">
  <div class="card-body">
    <div class="row justify-content-center" style="width:800px; margin:10px auto;[B]padding:20px 0;[/B]"
    *ngFor="let user of users">
      <h1>Przyjęte przesyłki w oddziale {{user.depot.depotCode}}</h1>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Kod paczki</th>
        <th scope="col">Data wejścia</th>
        <th scope="col">Użytkownik</th>
        <th scope="col">Miasto</th>
        <th scope="col">Oddział</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let route of routes">
        <td>{{ route.parcel.id }}</td>
        <td>{{ route.created}}</td>
        <td>{{ route.user.firstName}}</td>
        <td>{{ route.user.depot.city}}</td>
        <td>{{ route.user.depot.depotCode}}</td>

      </tr>
      </tbody>
    </table>

  </div>
</div>
