
<footer class="contact-us">
  <div class="container">
    <div class="footer-content">
      <div class="row">
  <div class="contact-form">
      <form id="contact" action="" method="post" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="center-heading">
        <p  class="section-title">Moduł logowania</p>
        <p class="login-failed-text" *ngIf='this.isError' >Logowanie nie powiodło się.</p>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-12">
          <fieldset>
            <label for="name">Nazwa użytkownika</label>
            <div class="user-name">
              <input type="text" id="name" class="form-control" placeholder="Nazwa użytkownika" required=""
                     style="background-color: rgba(250,250,250,0.3);" [formControlName]="'username'">
            </div>
          </fieldset>
        </div>
        <div class="col-md-6 col-lg-12">
          <fieldset>
            <label for="password">Hasło</label>
            <div class="user-name">
              <input type="password" class="form-control" id="password" placeholder="Hasło"
                     required="" style="background-color: rgba(250,250,250,0.3);"[formControlName]="'password'" name="password">
            </div>
          </fieldset>
        </div>
        <div class="col-lg-12">
          <fieldset>
            <button type="submit" id="form-submit" class="main-button">Zaloguj</button>
          </fieldset>
        </div>
      </div>
    </form>
  </div>

        </div>
      </div>
    </div>
</footer>
