<section class="section colored" id="contact-us">
  <div class="container">
    <!-- ***** Section Title Start ***** -->
    <div class="row">
      <div class="col-lg-12">
        <div class="center-heading">
          <h2 class="section-title">Nadanie przesyłki</h2>
        </div>
      </div>
    </div>
    <!-- ***** Section Title End ***** -->

    <div class="row">
      <label for="firstName" class="col-md-4 col-form-label text-md-left">Imie odbiorcy</label>
      <label for="lastName" class="col-md-4 col-form-label text-md-left">Nazwisko odbiorcy</label>

      <!-- ***** Contact Text Start ***** -->

      <!-- ***** Contact Text End ***** -->

      <!-- ***** Contact Form Start ***** -->
      <div class="col-lg-8 col-md-6 col-sm-12">
        <div class="contact-form center">
          <form  [formGroup]="createParcelForm" (ngSubmit)="createParcel()">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12">
                <fieldset>
                  <input type="text" [formControlName]="'firstName'" id="firstName" class="form-control" name="firstName" required autofocus>
                  <span *ngIf="!createParcelForm.get('firstName').valid && createParcelForm.get('firstName').touched">
                                    Proszę podać imie
                                </span>

                </fieldset>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <fieldset>
                  <input type="text" [formControlName]="'lastName'" id="lastName" class="form-control" name="lastName" required autofocus>
                  <span *ngIf="!createParcelForm.get('lastName').valid && createParcelForm.get('lastName').touched">
                                    Proszę podać nazwisko
                                </span>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <label for="destination_telephone" >Telefon odbiorcy</label>
                  <input type="text" [formControlName]="'destination_telephone'" id="destination_telephone" class="form-control" name="destination_telephone" required autofocus>
                  <span *ngIf="!createParcelForm.get('destination_telephone').valid && createParcelForm.get('destination_telephone').touched">
                                    Proszę podać telefon odbiorcy
                                </span>

                </fieldset>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <fieldset>
                  <label for="email" >E-mail odbiorcy</label>
                  <input type="text" [formControlName]="'email'" id="email" class="form-control" name="email" required autofocus>
                  <span *ngIf="!createParcelForm.get('email').valid && createParcelForm.get('email').touched">
                                    Proszę podać email
                                </span>
                </fieldset>
              </div>

              <div class="col-lg">
                  <label for="custom">Standard</label>
                  <input type="checkbox" [formControlName]="'custom'" [checked]="'true'" id="custom" class="form-check" name="custom"  required autofocus>
                  <span *ngIf="!createParcelForm.get('custom').valid && createParcelForm.get('custom').touched">
                                    Czy paczka posiada niestandardowe kształty?
                                </span>

              </div>

              <div class="col-lg-6 col-md-12 col-sm-12">
              <fieldset>
                  <label for="sender_telephone">Numer telefonu nadawcy</label>
                  <input type="text" [formControlName]="'sender_telephone'" id="sender_telephone" class="form-control" name="sender_telephone" required autofocus>
                  <span *ngIf="!createParcelForm.get('sender_telephone').valid && createParcelForm.get('sender_telephone').touched">
                                    Proszę podać telefon wysyłającego
                                </span>
                </fieldset>
              </div>

              <div class="col-lg-12">
                <fieldset>
                  <label for="destination_address">Destynacja</label>
                  <input type="text" [formControlName]="'destination_address'" id="destination_address" class="form-control" name="destination_address" required autofocus>
                  <span *ngIf="!createParcelForm.get('destination_address').valid && createParcelForm.get('destination_address').touched">
                                    Proszę podać destynację
                                </span>

                </fieldset>
              </div>

              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-button">Wysyłam</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- ***** Contact Form End ***** -->
    </div>
  </div>
</section>
