<footer class="contact-us" id="contact-us">
  <form  [formGroup]="createParcelForm" (ngSubmit)="createParcel()">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-6 col-sm-12">
        <div class="contact-form center">
          <h2 class="section-title">Dane nadawcy </h2>
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12">
                <fieldset>
                  <input type="text" [formControlName]="'firstName'" id="firstName" class="form-control" name="firstName"
                         placeholder="Imię" required=""
                         style="background-color: rgba(250,250,250,0.3);" >
                </fieldset>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <fieldset>
                  <input type="text" [formControlName]="'lastName'" id="lastName" class="form-control" name="lastName"placeholder="Nazwisko" required=""
                         style="background-color: rgba(250,250,250,0.3);" >
                </fieldset>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <fieldset>
                  <input type="text" [formControlName]="'senderEmail'"
                         placeholder="Email nadawcy" required=""
                         style="background-color: rgba(250,250,250,0.3);" id="email" class="form-control" name="email">

                </fieldset>
              </div>

              <div class="col-lg-6">
                  <input type="checkbox" [formControlName]="'custom'" [checked]="'true'"
                         placeholder="Standardowa" required=""
                         style="background-color: rgba(250,250,250,0.3);"id="custom" class="form-check">
              </div>

              <div class="col-lg-6">
              <fieldset>
                  <input type="text" [formControlName]="'senderTelephone'"
                         placeholder="Telefon nadawcy" required=""
                         style="background-color: rgba(250,250,250,0.3); "id="sender_telephone" class="form-control" name="sender_telephone">
                </fieldset>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div>
    <p></p>
    <div class="footer-content">
      <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12">
          <div class="contact-form">
            <h2 class="section-title">Dane odbiorcy </h2>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                  <fieldset>
                    <input name="name" type="text" [formControlName]="'recipientFirstName'"
                           id="name" placeholder="Imię" required=""
                           style="background-color: rgba(250,250,250,0.3);">
                  </fieldset>
                </div>
                <div class="col-md-6 col-sm-12">
                  <fieldset>
                    <input name="name" type="text" [formControlName]="'recipientLastName'"
                           placeholder="Nazwisko" required=""
                           style="background-color: rgba(250,250,250,0.3);">
                  </fieldset>
                </div>
              <div class="col-md-6 col-sm-12">
                <fieldset>
                  <input name="name" type="text" [formControlName]="'recipientEmail'"
                         placeholder="Email odbiorcy" required=""
                         style="background-color: rgba(250,250,250,0.3);">
                </fieldset>
              </div>
                <div class="col-lg-6">
                  <fieldset>
                    <input type="text" [formControlName]="'recipientTelephone'"
                           placeholder="Telefon odbiorcy" required=""
                           style="background-color: rgba(250,250,250,0.3);" id="destination_telephone" class="form-control" name="destination_telephone" >
                  </fieldset>
                </div>
              <div class="col-md-6 col-sm-12">
                <fieldset>
                  <input type="text" [formControlName]="'recipientCity'"  placeholder="Miasto" required=""
                         style="background-color: rgba(250,250,250,0.3);" id="destination_address" class="form-control" name="destination_address">
                </fieldset>
              </div>
              <div class="col-md-6 col-sm-12">
                <fieldset>
                  <input type="text" [formControlName]="'recipientStreet'"  placeholder="Ulica" required=""
                         style="background-color: rgba(250,250,250,0.3);" id="street" class="form-control" name="street">
                </fieldset>
              </div>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="main-button">Wysyłam</button>
                  </fieldset>
                </div>
              </div>
          </div>
        </div>
  </div>
    </div>
  </div>
  </form>
</footer>
