<div class="sidebar-view-warehouse">
  <div style="color: black; font-weight: bold">Opcje</div>
  <hr />
  <span >
        <span class="subforum-text"><a href="/" > </a>
        </span>
    </span>
  <div style="text-align: center" >
    <button class="main-button" (click)="generateLabel()"> Generuj etykietę</button>

    <h1></h1>
    <button class="main-button" (click)="generateCSV()"> Generuj do pliku CSV</button>
    <h1></h1>

    <button  class="main-button" id="dropdownBasic1" routerLink="/route/delete">Usuwanie przesyłek</button>


  </div>

</div>
