<div class="route-section">
  <h1> Trasa paczki {{id}}</h1>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Miasto</th>
        <th scope="col">Oddział</th>
        <th scope="col">Data wejścia</th>

      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let route of routes">
        <td>{{ route.user.depot.city}}</td>
        <td>{{ route.user.depot.depotCode}}</td>
        <td>{{ route.created}}</td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
