<section class="section" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="center-heading">
        </div>
      </div>
      <div class="col-lg-11 col-md-10 col-sm-12 mobile-bottom-fix-big"
           data-scroll-reveal="enter left move 30px over 0.6s after 0.4s" *ngFor="let route of routes"
      >
        <div class="owl-carousel owl-theme" *ngIf="route.user.depot.depotCode!='NAD'">
          <div class="item service-item">
            <div class="testimonial-content">
              <table class="table table-borderless ">
                <thead>
                <tr>
                  <th scope="col">Miasto</th>
                  <th scope="col">Oddział</th>
                  <th scope="col">Data i godzina</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td *ngIf="route.user.depot.depotCode!='NAD'">{{route.user.depot.city}}</td>
                  <td *ngIf="route.user.depot.depotCode!='NAD'">{{route.user.depot.depotCode}}</td>
                  <td *ngIf="route.user.depot.depotCode!='NAD'">{{route.created}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
    </div>
  </div>
    </div>
  </div>
</section>
